body {
  font-family: "Roboto", sans-serif;
}

main {
  margin-top: 71px;
  margin-left: 69px;
}

h3 {
  font-size: 22px;
}

/*///////////////////////////////////////////////
// NAV STYLES
///////////////////////////////////////////////*/

.container {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  .container {
    padding-left: 0;
  }
}

/*///////////////////////////////////////////////
// HOME PAGE STYLES
///////////////////////////////////////////////*/

.user-character:hover {
  cursor: pointer;
  font-style: italic;
}

.selected-character {
  font-weight: bold;
}

/*///////////////////////////////////////////////
// ITEM PAGE STYLES
///////////////////////////////////////////////*/

label {
  color: black;
}

.room-header span {
  font-size: 22px;
}

.room-subheader {
  font-size: 16px;
  margin: 0 0 0 30px;
}

.bundle {
  margin-left: 30px;
}

.bundle-header span {
  font-size: 16px;
}

.bundle-subheader {
  font-size: 14px;
  margin: 0 0 0 30px;
}

.bundle-item {
  margin-left: 30px;
}

/*///////////////////////////////////////////////
// SEASON STYLES
///////////////////////////////////////////////*/

.season-filter-btn:hover {
  cursor: pointer;
}

.season-filter-btn {
  height: 40px !important;
  width: 40px !important;
}

.season-filter-container {
  height: 50px;
  width: 50px;
  padding: 5px;
  background: rgb(247, 247, 247);
}

.season-filter-active {
  background: rgb(189, 189, 189);
}
