body {
  font-family: "Roboto", sans-serif;
}

main {
  margin-top: 71px;
  margin-left: 69px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

/*///////////////////////////////////////////////
// NAV STYLES
///////////////////////////////////////////////*/

.container {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  .container {
    padding-left: 0;
  }
}

/*///////////////////////////////////////////////
// HOME PAGE STYLES
///////////////////////////////////////////////*/

.user-character:hover {
  cursor: pointer;
  font-style: italic;
}

.selected-character {
  font-weight: bold;
}

/*///////////////////////////////////////////////
// ITEM PAGE STYLES
///////////////////////////////////////////////*/

label {
  color: black;
}
