body {
  font: sans-serif;
}

.container {
  margin-left: 240px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}

/*///////////////////////////////////////////////
// NAV STYLES
///////////////////////////////////////////////*/

.sidenav {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 200px;
}

.active-nav-link {
  background: #fff59d;
}

.sidenav li:hover .subnav {
  display: block;
  max-height: 200px;
}

.subnav {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #fffde7;
}

ul.subnav li {
  padding-left: 26px;
}

.subnav li:hover {
  cursor: pointer;
  /* color: rgb(94, 94, 94); */
  /* font-style: italic; */
}

li.link-spring:hover {
  color: rgb(147, 221, 141);
}

li.link-summer:hover {
  color: rgb(223, 214, 95);
}

li.link-fall:hover {
  color: rgb(226, 172, 111);
}

li.link-winter:hover {
  color: rgb(157, 228, 228);
}

/*///////////////////////////////////////////////
// SEASON COLORS
///////////////////////////////////////////////*/

.spring {
  color: rgb(147, 221, 141);
}

.summer {
  color: rgb(223, 214, 95);
}

.fall {
  color: rgb(226, 172, 111);
}

.winter {
  color: rgb(157, 228, 228);
}

/*///////////////////////////////////////////////
// CC PAGE STYLES
///////////////////////////////////////////////*/

.season-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 1px;
}

.season-dot.spring {
  background: rgb(147, 221, 141);
}

.season-dot.summer {
  background: rgb(223, 214, 95);
}

.season-dot.fall {
  background: rgb(226, 172, 111);
}

.season-dot.winter {
  background: rgb(157, 228, 228);
}

span.checkbox {
  color: black;
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
